.container {
    position: absolute;
    top: 30px;
    right: 15px;
    // left: -38px;
    z-index: 999;
    ul {
        list-style: none;
        
        background-color: #fff;
        color: #000;
        padding: 0;

        li {
            display: flex;
            padding: 5px 10px;
            border-bottom: 1px solid #AAA;
        }
    }
}