<mat-drawer-container class="example-container"
    *ngIf="(vm$ | async) as vm"
>
    <mat-drawer 
        mode="side"
        opened
        >
        <ul
            class="category-list"
        >   
            <li 
                class="category-list--item"
                *ngFor="let category of vm.categories"
                (click)="facade.updateCategory(category)"
                [ngClass]="{'active': vm.selectedCategory == category }"
            >
                {{ category }}
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <div
        class="catalog-container"
        >
            <catalog-items
                *ngFor="let product of vm.products"
                [product]="product"
            ></catalog-items>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>

